body {
    background-color: #091B26;
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    text-align: center;
}
